

   .home-button {
    margin-right: auto;
    margin-left: auto;
    padding: 30px 50px;
    min-width: 300px;
    background: #ff3832;
    position: relative;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 50px;
    outline: none;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 -0.5px 1px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.2s background cubic-bezier(0.4, 0, 0.2, 1), 0.2s transform cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: 0.2s background cubic-bezier(0.4, 0, 0.2, 1), 0.2s transform cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.2s background cubic-bezier(0.4, 0, 0.2, 1), 0.2s transform cubic-bezier(0.4, 0, 0.2, 1)
}

.no-touch    .home-button:hover {
    background: #e6322d
}

   .home-button:active {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98)
}

   .home-button--dark {
    background: #3b3e47
}

   .home-button--dark:hover {
    background: #24262b
}

@media screen and (max-width: 767px) {
       .home-button {
        font-size: 14px;
        padding: 20px 30px
    }
}

@media screen and (max-width: 567px) {
       .home-button {
        min-width: 0;
        display: block
    }
}

.back-to-top {
    display: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 40px;
    height: 40px;
    text-indent: -100vw;
    overflow: hidden;
    background: url("../images/back-to-top-arrow.png") center center no-repeat rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background-size: 28px
}

@media screen and (max-width: 600px) {
    .back-to-top {
        display: inline-block
    }
}

@media screen and (max-width: 700px) and (orientation: landscape) {
    .back-to-top {
        display: inline-block
    }
}

.bubbles {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.bubble {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)
}

.in-view .bubble {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.bubble * {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.bubble--small {
    width: 25vmin;
    height: 25vmin
}

.bubble--small .bubble__wrap {
    background: url(../images/bubble-s.png);
    background-size: cover
}

.bubble--medium {
    width: 35vmin;
    height: 35vmin
}

.bubble--medium .bubble__wrap {
    background: url(../images/bubble-m.png);
    background-size: cover
}

.bubble--large {
    width: 45vmin;
    height: 45vmin
}

.bubble__wrap {
    width: 100%;
    height: 100%;
    background: url(../images/bubble.png);
    background-size: cover
}

.bubble__copy {
    padding-left: 35px;
    position: absolute;
    text-transform: uppercase;
    font-size: 16px;
    text-align: left
}

.bubble__copy:before {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -2px;
    left: 0px;
    content: "";
    background-color: #4496d1;
    border: 5px solid #23252c;
    border-radius: 50%
}

.bubble--real-estate {
    left: -6vw;
    z-index: 1;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    -webkit-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    transition-delay: 0.35s;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s
}

@media(min-width: 1024px) {
    .bubble--real-estate {
        left: calc(-6vw - 58px)
    }
}

.bubble--real-estate .bubble__copy {
    top: 5%;
    left: 70%
}

.bubble--business-interests {
    top: 30vh;
    left: 10vw;
    -webkit-transform: translate(-80%, -10%);
    -moz-transform: translate(-80%, -10%);
    -ms-transform: translate(-80%, -10%);
    -o-transform: translate(-80%, -10%);
    transform: translate(-80%, -10%);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 2.5s;
    -moz-transition-duration: 2.5s;
    transition-duration: 2.5s
}

@media(min-width: 1024px) {
    .bubble--business-interests {
        left: calc(10vw - 128px)
    }
}

.bubble--business-interests .bubble__copy {
    top: 35%;
    left: 1%
}

.bubble--liquid-assets {
    top: -2vh;
    left: 5vw;
    -webkit-transform: translate(-100%, 80%);
    -moz-transform: translate(-100%, 80%);
    -ms-transform: translate(-100%, 80%);
    -o-transform: translate(-100%, 80%);
    transform: translate(-100%, 80%);
    -webkit-transition-delay: 0.85s;
    -moz-transition-delay: 0.85s;
    transition-delay: 0.85s;
    -webkit-transition-duration: 2.5s;
    -moz-transition-duration: 2.5s;
    transition-duration: 2.5s
}

@media(min-width: 1024px) {
    .bubble--liquid-assets {
        left: calc(5vw - 88px)
    }
}

.bubble--liquid-assets .bubble__copy {
    top: 70%;
    left: 4%
}

.bubble--fees {
    top: 50vh;
    -webkit-transform: translate(-20%, 30%);
    -moz-transform: translate(-20%, 30%);
    -ms-transform: translate(-20%, 30%);
    -o-transform: translate(-20%, 30%);
    transform: translate(-20%, 30%);
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s
}

.bubble--fees .bubble__copy {
    left: 93%;
    top: 49%
}

.bubble--goals-ambitions {
    top: -5vh;
    left: 30vw;
    -webkit-transform: translate(-200%, 0%);
    -moz-transform: translate(-200%, 0%);
    -ms-transform: translate(-200%, 0%);
    -o-transform: translate(-200%, 0%);
    transform: translate(-200%, 0%);
    -webkit-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    transition-delay: 0.35s;
    -webkit-transition-duration: 2.5s;
    -moz-transition-duration: 2.5s;
    transition-duration: 2.5s
}

@media(min-width: 1024px) {
    .bubble--goals-ambitions {
        left: calc(30vw - 256px)
    }
}

.bubble--goals-ambitions .bubble__copy {
    top: 15%;
    left: 83%
}

.bubble--advisors {
    top: 20vh;
    left: 32vw;
    z-index: 1;
    -webkit-transform: translate(-200%, 0%);
    -moz-transform: translate(-200%, 0%);
    -ms-transform: translate(-200%, 0%);
    -o-transform: translate(-200%, 0%);
    transform: translate(-200%, 0%);
    -webkit-transition-delay: 0.85s;
    -moz-transition-delay: 0.85s;
    transition-delay: 0.85s;
    -webkit-transition-duration: 2.5s;
    -moz-transition-duration: 2.5s;
    transition-duration: 2.5s
}

@media(min-width: 1024px) {
    .bubble--advisors {
        left: calc(32vw - 256px)
    }
}

.bubble--advisors .bubble__copy {
    top: -1%;
    left: 35%;
    padding-left: 0;
    padding-top: 35px
}

.bubble--advisors .bubble__copy:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}

.bubble--no-time {
    top: 45vh;
    left: 32vw;
    -webkit-transform: translate(-200%, 0%);
    -moz-transform: translate(-200%, 0%);
    -ms-transform: translate(-200%, 0%);
    -o-transform: translate(-200%, 0%);
    transform: translate(-200%, 0%);
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s
}

@media(min-width: 1024px) {
    .bubble--no-time {
        left: calc(37vw - 256px)
    }
}

.bubble--no-time .bubble__copy {
    top: 30%;
    left: 2%
}

.bubble--succession-plan {
    top: 20vh;
    left: 42vw;
    z-index: 1;
    -webkit-transform: translate(-200%, 0%);
    -moz-transform: translate(-200%, 0%);
    -ms-transform: translate(-200%, 0%);
    -o-transform: translate(-200%, 0%);
    transform: translate(-200%, 0%);
    -webkit-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    transition-delay: 0.35s;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s
}

@media(min-width: 1024px) {
    .bubble--succession-plan {
        left: calc(42vw - 256px)
    }
}

.bubble--succession-plan .bubble__copy {
    left: 26%;
    top: auto;
    bottom: 91%;
    padding-left: 0;
    padding-bottom: 35px
}

.bubble--succession-plan .bubble__copy:before {
    top: auto;
    bottom: 0
}

.bubble--dependants {
    top: 45vh;
    left: 50vw;
    -webkit-transform: translate(200%, 0%);
    -moz-transform: translate(200%, 0%);
    -ms-transform: translate(200%, 0%);
    -o-transform: translate(200%, 0%);
    transform: translate(200%, 0%);
    -webkit-transition-delay: 0.85s;
    -moz-transition-delay: 0.85s;
    transition-delay: 0.85s;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s
}

@media(min-width: 1024px) {
    .bubble--dependants {
        left: calc(50vw - 256px)
    }
}

.bubble--dependants .bubble__copy {
    right: 0;
    top: 60%;
    padding-left: 0;
    padding-right: 35px
}

.bubble--dependants .bubble__copy:before {
    left: auto;
    right: 0
}

.bubble--bank-accounts {
    top: 5vh;
    left: 55vw;
    -webkit-transform: translate(150%, 0%);
    -moz-transform: translate(150%, 0%);
    -ms-transform: translate(150%, 0%);
    -o-transform: translate(150%, 0%);
    transform: translate(150%, 0%);
    -webkit-transition-delay: 1.25s;
    -moz-transition-delay: 1.25s;
    transition-delay: 1.25s;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s
}

@media(min-width: 1024px) {
    .bubble--bank-accounts {
        left: calc(55vw - 256px)
    }
}

.bubble--bank-accounts .bubble__copy {
    top: 10%;
    left: 15%
}

.bubble--taxation {
    top: -10vh;
    left: 82vw;
    -webkit-transform: translate(50%, 0%);
    -moz-transform: translate(50%, 0%);
    -ms-transform: translate(50%, 0%);
    -o-transform: translate(50%, 0%);
    transform: translate(50%, 0%);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 2.5s;
    -moz-transition-duration: 2.5s;
    transition-duration: 2.5s
}

@media(min-width: 1024px) {
    .bubble--taxation {
        left: calc(82vw - 256px)
    }
}

.bubble--taxation .bubble__copy {
    top: 9%;
    right: 77%;
    padding-left: 0;
    padding-right: 35px
}

.bubble--taxation .bubble__copy:before {
    left: auto;
    right: 0
}

.bubble--collectibles {
    top: 10vh;
    left: 72vw;
    -webkit-transform: translate(80%, 0%);
    -moz-transform: translate(80%, 0%);
    -ms-transform: translate(80%, 0%);
    -o-transform: translate(80%, 0%);
    transform: translate(80%, 0%);
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s
}

@media(min-width: 1024px) {
    .bubble--collectibles {
        left: calc(72vw - 256px)
    }
}

.bubble--collectibles .bubble__copy {
    top: 3%;
    left: 25%;
    padding-left: 0;
    padding-top: 35px
}

.bubble--philanthropy {
    top: 22vh;
    left: 85vw;
    z-index: 1;
    -webkit-transform: translate(20%, 0%);
    -moz-transform: translate(20%, 0%);
    -ms-transform: translate(20%, 0%);
    -o-transform: translate(20%, 0%);
    transform: translate(20%, 0%);
    -webkit-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    transition-delay: 0.35s;
    -webkit-transition-duration: 2.5s;
    -moz-transition-duration: 2.5s;
    transition-duration: 2.5s
}

@media(min-width: 1024px) {
    .bubble--philanthropy {
        left: calc(85vw - 256px)
    }
}

.bubble--philanthropy .bubble__copy {
    top: 50%;
    left: -1%
}

.bubble--geographic-exposure {
    top: 30vh;
    left: 65vw;
    -webkit-transform: translate(50%, 0%);
    -moz-transform: translate(50%, 0%);
    -ms-transform: translate(50%, 0%);
    -o-transform: translate(50%, 0%);
    transform: translate(50%, 0%);
    -webkit-transition-delay: 0.85s;
    -moz-transition-delay: 0.85s;
    transition-delay: 0.85s;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s
}

@media(min-width: 1024px) {
    .bubble--geographic-exposure {
        left: calc(65vw - 256px)
    }
}

.bubble--geographic-exposure .bubble__copy {
    top: 50%;
    left: -1%
}

.bubble--passions {
    top: 60vh;
    left: 65vw;
    -webkit-transform: translate(50%, 0%);
    -moz-transform: translate(50%, 0%);
    -ms-transform: translate(50%, 0%);
    -o-transform: translate(50%, 0%);
    transform: translate(50%, 0%);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s
}

@media(min-width: 1024px) {
    .bubble--passions {
        left: calc(65vw - 256px)
    }
}

.bubble--passions .bubble__copy {
    top: 30%;
    left: 0
}

.bubble--family-members {
    top: 50vh;
    left: 80vw;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transition-duration: 2.5s;
    -moz-transition-duration: 2.5s;
    transition-duration: 2.5s
}

@media(min-width: 1024px) {
    .bubble--family-members {
        left: calc(80vw - 256px)
    }
}

.bubble--family-members .bubble__copy {
    top: 20%;
    left: 8%
}

@media(max-width: 1024px) {
    .bubble__copy {
        font-size: 12px
    }
}

@media screen and (max-width: 767px) {
    .bubble__copy {
        display: none;
        font-size: 10px
    }
    .bubble--liquid-assets,
    .bubble--succession-plan,
    .bubble--taxation,
    .bubble--goals-ambitions {
        z-index: 1
    }
    .bubble--liquid-assets .bubble__wrap:before,
    .bubble--succession-plan .bubble__wrap:before,
    .bubble--taxation .bubble__wrap:before,
    .bubble--goals-ambitions .bubble__wrap:before {
        display: block
    }
    .bubble--liquid-assets .bubble__copy,
    .bubble--succession-plan .bubble__copy,
    .bubble--taxation .bubble__copy,
    .bubble--goals-ambitions .bubble__copy {
        display: block
    }
    .bubble--goals-ambitions .bubble__copy {
        top: auto;
        left: 25%;
        bottom: 85%
    }
    .bubble--succession-plan .bubble__copy {
        bottom: 84%
    }
    .bubble--family-members,
    .bubble--passions,
    .bubble--no-time,
    .bubble--fees,
    .bubble--dependants,
    .bubble--business-interests,
    .bubble--geographic-exposure,
    .bubble--philanthropy {
        display: none
    }
}

@media screen and (max-width: 567px) {
    .bubble--goals-ambitions .bubble__copy {
        width: 110px;
        left: 5%;
        bottom: 74%
    }
}

.curve {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    -webkit-transition: width 3s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: width 3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: width 3s cubic-bezier(0.86, 0, 0.07, 1);
    width: 0;
    overflow: hidden
}

.curve img {
    width: 100vw;
    display: block
}

@media(min-width: 1024px) {
    .curve img {
        width: calc(100vw - 256px)
    }
}

.in-view .curve {
    width: calc(100% + 40px)
}

.curve .markers {
    position: absolute;
    top: 50%;
    left: 0px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100vw
}

@media(min-width: 1024px) {
    .curve .markers {
        width: calc(100vw - 256px)
    }
}

@media screen and (max-width: 639px) {
    .curve .markers {
        -webkit-transform: translateY(-80%);
        -moz-transform: translateY(-80%);
        -ms-transform: translateY(-80%);
        -o-transform: translateY(-80%);
        transform: translateY(-80%)
    }
}

.curve.in-view {
    overflow: visible
}

.curve.in-view .curve__marker--short {
    height: 4vmin
}

.curve.in-view .curve__marker--medium {
    height: 7vmin
}

.curve.in-view .curve__marker--long {
    height: 10vmin
}

.touch .curve.in-view .curve__marker:nth-of-type(4) .curve__copy,
.touch .curve.in-view .curve__marker:nth-of-type(6) .curve__copy,
.touch .curve.in-view .curve__marker:nth-of-type(13) .curve__copy,
.touch .curve.in-view .curve__marker:nth-of-type(15) .curve__copy {
    opacity: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    transition-delay: 1.5s
}

.curve__copy {
    position: absolute;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -10%);
    -moz-transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -10%);
    -o-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
    -webkit-transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    width: 150px;
    margin-bottom: 9px;
    padding: 10px;
    background-color: #4496d1;
    border-radius: 200px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none
}

@media screen and (max-width: 639px) {
    .curve__copy {
        width: 100px;
        font-size: 8px;
        padding: 5px
    }
}

.curve__copy:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #4496d1 transparent transparent transparent
}

.curve__marker {
    position: absolute;
    width: 1px;
    height: 0;
    background-color: #4496d1;
    -webkit-transition: height 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: height 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    transition: height 0.5s cubic-bezier(0.86, 0, 0.07, 1)
}

.no-touch .curve__marker:hover:before {
    border-color: #a2cbe8
}

.no-touch .curve__marker:hover .curve__copy {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 1
}

.curve__marker:before {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: -15px;
    left: -12px;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    transition: border-color 0.3s;
    content: "";
    background-color: #4496d1;
    border: 5px solid #23252c;
    border-radius: 50%;
    cursor: pointer
}

@media screen and (max-width: 639px) {
    .curve__marker:before {
        width: 7px;
        height: 7px;
        border-width: 2px;
        bottom: -10px;
        left: -8px;
        margin-left: 3px;
        margin-bottom: 3px
    }
}

.curve__marker--down:before {
    top: -15px;
    bottom: auto
}

@media screen and (max-width: 639px) {
    .curve__marker--down:before {
        top: -10px;
        margin-top: 3px
    }
}

.curve__marker--down .curve__copy {
    bottom: auto;
    top: 100%;
    margin-top: 9px;
    margin-bottom: auto;
    -webkit-transform: translate(-50%, 10%);
    -moz-transform: translate(-50%, 10%);
    -ms-transform: translate(-50%, 10%);
    -o-transform: translate(-50%, 10%);
    transform: translate(-50%, 10%)
}

.curve__marker--down .curve__copy:after {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: -1px;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #4496d1 transparent
}

.curve__marker:nth-of-type(1) {
    bottom: 20.6vw;
    left: 8.6%;
    z-index: 20;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(1) {
        bottom: 79.2%
    }
}

.curve__marker:nth-of-type(2) {
    top: 5.5vw;
    left: 11.4%;
    z-index: 19;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(2) {
        top: 20.5%
    }
}

.curve__marker:nth-of-type(3) {
    bottom: 21.3vw;
    left: 18.8%;
    z-index: 18;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(3) {
        bottom: 81.5%
    }
}

.curve__marker:nth-of-type(4) {
    bottom: 21.1vw;
    left: 21.9%;
    z-index: 17;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    transition-delay: 0.4s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(4) {
        bottom: 81%
    }
}

.curve__marker:nth-of-type(5) {
    bottom: 19.5vw;
    left: 30.9%;
    z-index: 16;
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    transition-delay: 0.6s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(5) {
        bottom: 75%
    }
}

.curve__marker:nth-of-type(6) {
    top: 7.6vw;
    left: 33.5%;
    z-index: 15;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(6) {
        top: 29%
    }
}

.curve__marker:nth-of-type(7) {
    top: 8.5vw;
    left: 36.4%;
    z-index: 14;
    -webkit-transition-delay: 0.7s;
    -moz-transition-delay: 0.7s;
    transition-delay: 0.7s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(7) {
        top: 32.2%
    }
}

.curve__marker:nth-of-type(8) {
    bottom: 20.6vw;
    left: 25.2%;
    z-index: 13;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(8) {
        bottom: 79.4%
    }
}

.curve__marker:nth-of-type(9) {
    bottom: 15.2vw;
    left: 43.4%;
    z-index: 12;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(9) {
        bottom: 59%
    }
}

.curve__marker:nth-of-type(10) {
    bottom: 12.7vw;
    left: 49.3%;
    z-index: 11;
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    transition-delay: 0.6s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(10) {
        bottom: 49%
    }
}

.curve__marker:nth-of-type(11) {
    bottom: 11.5vw;
    left: 53.3%;
    z-index: 10;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    transition-delay: 0.4s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(11) {
        bottom: 44%
    }
}

.curve__marker:nth-of-type(12) {
    bottom: 10.8vw;
    left: 55.9%;
    z-index: 9;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(12) {
        bottom: 42%
    }
}

.curve__marker:nth-of-type(13) {
    top: 16.2vw;
    left: 65.9%;
    z-index: 8;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(13) {
        top: 62%
    }
}

.curve__marker:nth-of-type(14) {
    bottom: 10.6vw;
    left: 69.5%;
    z-index: 7;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(14) {
        bottom: 41%
    }
}

.curve__marker:nth-of-type(15) {
    bottom: 11.5vw;
    left: 74.2%;
    z-index: 6;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    transition-delay: 0.4s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(15) {
        bottom: 45%
    }
}

.curve__marker:nth-of-type(16) {
    bottom: 15.5vw;
    left: 84.6%;
    z-index: 5;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(16) {
        bottom: 60%
    }
}

.curve__marker:nth-of-type(17) {
    top: 8.2vw;
    left: 89.3%;
    z-index: 4;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(17) {
        top: 32%
    }
}

.curve__marker:nth-of-type(18) {
    top: 4.3vw;
    left: 95%;
    z-index: 3;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s
}

@media(min-width: 1024px) {
    .curve__marker:nth-of-type(18) {
        top: 16%
    }
}

.explore {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "Explore";
    font-weight: 300;
    letter-spacing: 4px;
    text-indent: 4px;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: opacity 1s 0.5s;
    -moz-transition: opacity 1s 0.5s;
    transition: opacity 1s 0.5s
}

.explore:before {
    width: 15px;
    height: 9px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    background: url(../images/explore.svg);
    -webkit-transition: opacity 1s 0.5s;
    -moz-transition: opacity 1s 0.5s;
    transition: opacity 1s 0.5s
}

.pipes {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center
}

.pipes__wrapper {
    margin-right: 20px;
    margin-left: 20px
}

.pipes__title {
    width: 120px;
    height: 120px;
    border: 3px solid;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 120px;
    text-align: center;
    text-indent: 4px;
    text-transform: uppercase
}

.pipes__title--v3 {
    border-color: #ff3832;
    box-shadow: inset 0 0 25px #ff3832
}

.pipes__title--you {
    border-color: #4496d1;
    box-shadow: inset 0 0 25px #4496d1, 0 0 25px #4496d1
}

.pipes__pipe {
    width: 75px;
    height: 400px;
    position: relative;

}

.pipes__pipe--v3 {
    left: 10px
}

.pipes__pipe--v3 div {
    background: url(../images/home-intro-red.svg) left top no-repeat
}

.pipes__pipe--you {
    left: 51px
}

.pipes__pipe--you div {
    background: url(../images/home-intro-blue.svg) 5px top no-repeat
}

.in-view .pipes:not(.pipes--secondary) .pipes__pipe div {
    width: 75px;
    height: 400px;
    -moz-animation: draw-line-tall 2s ease-in-out;
    animation: draw-line-tall 2s ease-in-out
}

@media screen and (max-width: 567px) {
    .pipes__wrapper {
        margin-right: 10px;
        margin-left: 10px
    }
    .pipes__title {
        width: 90px;
        height: 90px;
        font-size: 20px;
        line-height: 90px
    }
    .pipes__pipe {
        height: 0px
    }
    .in-view .pipes__pipe div {
        height: 0px
    }
    .pipes__pipe--v3 {
        left: -5px
    }
    .pipes__pipe--you {
        left: 36px
    }
    .in-view .pipes:not(.pipes--secondary) .pipes__pipe div {
        width: 75px;
        height: 280px;
        -webkit-animation: draw-line-short 2s ease-in-out;
        -moz-animation: draw-line-short 2s ease-in-out;
        animation: draw-line-short 2s ease-in-out
    }
}

@-webkit-keyframes draw-line-tall {
    from {
        height: 0
    }
    to {
        height: 400px
    }
}

@-moz-keyframes draw-line-tall {
    from {
        height: 0
    }
    to {
        height: 400px
    }
}

@keyframes draw-line-tall {
    from {
        height: 0
    }
    to {
        height: 400px
    }
}

@-webkit-keyframes draw-line-short {
    from {
        height: 0
    }
    to {
        height: 115px
    }
}

@-moz-keyframes draw-line-short {
    from {
        height: 0
    }
    to {
        height: 115px
    }
}

@keyframes draw-line-short {
    from {
        height: 0
    }
    to {
        height: 115px
    }
}

   .quants-scene.quants-scene--bubbles {
    padding-top: 195px;
    background: url(../images/home-2.jpg);
    background-size: cover;
    z-index: 4
}

   .quants-scene.quants-scene--bubbles .quants-scene__content {
    margin-bottom: 50px
}

   .quants-scene.quants-scene--bubbles .quants-scene__stage {
    height: calc(100vh - 120px)
}

   .quants-scene.quants-scene--bubbles:before {
    position: absolute;
    top: 100%;
    right: 0px;
    left: 0px;
    background-color: rgba(39, 42, 51, 0);
    background-image: -webkit-linear-gradient(-270deg, rgba(39, 42, 51, 0) 0%, #272a33 50%, rgba(39, 42, 51, 0) 100%);
    background-image: linear-gradient(0deg, rgba(39, 42, 51, 0) 0%, #272a33 50%, rgba(39, 42, 51, 0) 100%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    height: 300px;
    background-color: transparent
}

   .quants-scene.quants-scene--bubbles .quants-scene__cta {
    margin-top: -200px
}

   .quants-scene.quants-scene--bubbles .pipes {
    position: relative;
    height: 142px
}

   .quants-scene.quants-scene--bubbles .pipes--secondary {
    height: 200px;
    top: -60px
}

   .quants-scene.quants-scene--bubbles .pipes--secondary .pipes__pipe--you {
    top: -40px
}

   .quants-scene.quants-scene--bubbles .pipes--secondary .pipes__pipe--you div {
    background: url(../images/home-audit-blue-2.svg) 5px top no-repeat
}

   .quants-scene.quants-scene--bubbles .pipes.in-view.pipes--secondary .pipes__pipe div {
    height: 250px;
    -webkit-animation: draw-line-bubble 2s ease-in-out;
    -moz-animation: draw-line-bubble 2s ease-in-out;
    animation: draw-line-bubble 2s ease-in-out
}

   .quants-scene.quants-scene--bubbles .pipes__pipe {
    width: 185px;
    height: 142px;
    position: absolute;
    top: 0;
    left: 50%
}

   .quants-scene.quants-scene--bubbles .pipes__pipe--v3 {
    margin-left: -136px
}

   .quants-scene.quants-scene--bubbles .pipes__pipe--v3 div {
    background: url(../images/home-line-red.svg) left -5px no-repeat
}

   .quants-scene.quants-scene--bubbles .pipes__pipe--you {
    margin-left: -42px
}

   .quants-scene.quants-scene--bubbles .pipes__pipe--you div {
    background: url(../images/home-audit-blue.svg) 5px top no-repeat
}

   .quants-scene.quants-scene--bubbles.in-view .pipes:not(.pipes--secondary) .pipes__pipe div {
    width: 185px;
    height: 142px
}

@media screen and (max-width: 767px) {
       .quants-scene.quants-scene--bubbles .quants-scene__stage {
        height: calc(50vh)
    }
}

@media screen and (max-width: 567px) {
       .quants-scene.quants-scene--bubbles .pipes__pipe--v3 {
        margin-left: -111px
    }
       .quants-scene.quants-scene--bubbles .pipes__pipe--you {
        margin-left: -66px
    }
}

@-webkit-keyframes draw-line-bubble {
    from {
        height: 0
    }
    to {
        height: 250px
    }
}

@-moz-keyframes draw-line-bubble {
    from {
        height: 0
    }
    to {
        height: 250px
    }
}

@keyframes draw-line-bubble {
    from {
        height: 0
    }
    to {
        height: 250px
    }
}

   .quants-scene.quants-scene--intro {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;


    z-index: 5
}

   .quants-scene.quants-scene--intro.in-view .explore {
    opacity: 0
}

   .quants-scene.quants-scene--intro .quants-scene__content {
    margin: 100px auto 50px;
    max-width: 1280px
}

   .quants-scene.quants-scene--intro .pipes {
    width: 100%;
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    align-self: flex-end;
    -ms-flex-item-align: end
}

  

   .quants-scene.quants-scene--intro .pipes__title {
    -webkit-transition: opacity 1s 1s;
    -moz-transition: opacity 1s 1s;
    transition: opacity 1s 1s;
    opacity: 0
}

   .quants-scene.quants-scene--intro .quants-scene__title {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0
}

   .quants-scene.quants-scene--intro .quants-scene__copy {
    -webkit-transition: opacity 1s 0.5s;
    -moz-transition: opacity 1s 0.5s;
    transition: opacity 1s 0.5s;
    opacity: 0
}

   .quants-scene.quants-scene--intro.animate .quants-scene__title {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
}

   .quants-scene.quants-scene--intro.animate .quants-scene__copy {
    opacity: 1
}

   .quants-scene.quants-scene--intro.animate .pipes__title {
    opacity: 1
}

@media screen and (max-width: 767px) {
       .quants-scene.quants-scene--intro:before {
        bottom: 120px
    }
       .quants-scene.quants-scene--intro:after {
        bottom: 90px;
        font-size: 14px;
        letter-spacing: 2px;
        text-indent: 2px
    }
       .quants-scene.quants-scene--intro .quants-scene__content {
        margin: 50px auto
    }
}

@media screen and (max-width: 567px) {
       .quants-scene.quants-scene--intro.in-view .pipes:not(.pipes--secondary) .pipes__pipe div {
        -webkit-animation: draw-line-intro-short 2s ease-in-out;
        -moz-animation: draw-line-intro-short 2s ease-in-out;
        animation: draw-line-intro-short 2s ease-in-out
    }
       .quants-scene.quants-scene--intro .quants-scene__content {
        margin: 20px auto
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
       .quants-scene.quants-scene--intro .quants-scene__content {
        max-width: 90%
    }
}

@-webkit-keyframes draw-line-intro-short {
    from {
        height: 0
    }
    to {
        height: 280px
    }
}

@-moz-keyframes draw-line-intro-short {
    from {
        height: 0
    }
    to {
        height: 280px
    }
}

@keyframes draw-line-intro-short {
    from {
        height: 0
    }
    to {
        height: 280px
    }
}

   .quants-scene.quants-scene--represent {
    padding-top: 120px;
    background: url(../images/home-2.jpg);
    background-size: cover;
    z-index: 3
}

   .quants-scene.quants-scene--represent .quants-scene__stage {
    margin-bottom: 75px
}

   .quants-scene.quants-scene--represent:before {
    position: absolute;
    top: 100%;
    right: 0px;
    left: 0px;
    background-color: rgba(39, 42, 51, 0);
    background-image: -webkit-linear-gradient(-270deg, rgba(39, 42, 51, 0) 0%, #191c23 50%, rgba(25, 28, 35, 0) 100%);
    background-image: linear-gradient(0deg, rgba(39, 42, 51, 0) 0%, #191c23 50%, rgba(25, 28, 35, 0) 100%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    height: 300px;
    background-color: transparent
}

   .quants-scene.quants-scene--represent .pipes {
    height: 0
}

   .quants-scene.quants-scene--represent .pipes__pipe div {
    position: absolute;
    left: 0;
    width: 20px
}

   .quants-scene.quants-scene--represent .pipes__pipe--v3 div {
    top: -44px;
    left: 0;
    background: url(../images/home-line-red.svg) left -655px no-repeat
}

   .quants-scene.quants-scene--represent .pipes__pipe--you div {
    top: -75px;
    left: -10px;
    background: url(../images/home-line-blue.svg) 5px -609px no-repeat
}

   .quants-scene.quants-scene--represent .pipes--secondary {
    position: static
}

   .quants-scene.quants-scene--represent .pipes--secondary .pipes__pipe {
    position: static
}

   .quants-scene.quants-scene--represent .pipes--secondary .pipes__pipe div {
    width: 15px;
    height: 0px;
    left: 50% !important
}

   .quants-scene.quants-scene--represent .pipes--secondary .pipes__pipe--v3 div {
    background-position: 5px -450px;
    top: 69.5vmin !important;
    margin-left: -12vw !important
}

   .quants-scene.quants-scene--represent .pipes--secondary .pipes__pipe--you div {
    background-position: 5px -500px;
    top: 68vmin !important;
    margin-left: -11vw !important
}

   .quants-scene.quants-scene--represent .pipes--secondary.in-view .pipes__pipe div {
    -webkit-animation: draw-line-short 2s ease-in-out;
    -moz-animation: draw-line-short 2s ease-in-out;
    animation: draw-line-short 2s ease-in-out;
    height: 115px
}

   .quants-scene.quants-scene--vantage .pipes {
    position: static
}

@media screen and (max-width: 639px) {
       .quants-scene.quants-scene--vantage .pipes {
        display: none
    }
}

   .quants-scene.quants-scene--vantage .pipes__pipe {
    position: static
}

   .quants-scene.quants-scene--vantage .pipes__pipe div {
    position: absolute;
    width: 15px;
    left: 50% !important;
    top: 50%
}

   .quants-scene.quants-scene--vantage .pipes__pipe--v3 div {
    background: url(../images/home-line-red.svg) 5px -600px no-repeat;
    margin-left: -12vw !important;
    margin-top: -30vh
}

   .quants-scene.quants-scene--vantage .pipes__pipe--you div {
    background: url(../images/home-line-blue.svg) 5px -620px no-repeat;
    margin-left: -11vw !important;
    margin-top: -30vh
}

   .quants-scene {
    position: relative;
    min-height: 100vh;
    padding: 20px;
    
    color: #fff
}

   .quants-scene--vantage {
    z-index: 2
}

   .quants-scene--vantage:before {
    position: absolute;
    top: 100%;
    right: 0px;
    left: 0px;
    background-color: rgba(39, 42, 51, 0);
    background-image: -webkit-linear-gradient(-270deg, rgba(39, 42, 51, 0) 0%, #191c23 50%, rgba(25, 28, 35, 0) 100%);
    background-image: linear-gradient(0deg, rgba(39, 42, 51, 0) 0%, #191c23 50%, rgba(25, 28, 35, 0) 100%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    height: 300px;
    background-color: transparent
}

   .quants-scene--vantage .quants-scene__stage {
    height: 50vmin
}

   .quants-scene--vantage,
   .quants-scene--wealth {
    padding-top: 120px;
    background: url(../images/home-3.jpg);
    background-size: cover
}

   .quants-scene--wealth {
    padding-right: 0;
    padding-bottom: 100px;
    padding-left: 0
}

   .quants-scene--wealth .quants-scene__content {
    margin-bottom: 20px
}

   .quants-scene--wealth .quants-scene__stage {
    height: 80vmin;
    margin-bottom: 40px
}

   .quants-scene__content {
    max-width: 680px;
    margin: 0 auto 100px;
    text-align: center
}

   .quants-scene__title {
    margin: 0 0 30px;
    font-weight: 300;
    font-size: 58px;
    line-height: 1.15;
    color: #fff
}

   .quants-scene__title strong {
    font-weight: 300;
    color: #ff3832
}

   .quants-scene__copy {
    max-width: 615px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.45
}

   .quants-scene__stage {
    position: relative;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1
}

   .quants-scene__cta {
    text-align: center
}

@media screen and (max-width: 767px) {
       .quants-scene__title {
        font-size: 40px
    }
}

@media screen and (max-width: 567px) {
       .quants-scene__title {
        font-size: 30px
    }
       .quants-scene__copy {
        font-size: 16px
    }
}

.quants-target {
    width: calc(75vw - 100px);
    height: calc(75vw - 100px);
    position: relative;
    margin: 0 auto;
    background-color: #191b21;
    border:3px dotted #96daf8;
    border-radius: 50%;
    z-index: 10
}

@media(min-width: 1024px) {
    .quants-target {
        width: calc(75vw - 256px);
        height: calc(75vw - 256px);
        max-width: 800px;
        max-height: 800px
    }
}

@media(max-width: 480px) {
    .quants-target {
        width: 220px;
        height: 220px
    }
}

.quants-target:after {
    width: 18vmin;
    height: 18vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: "";
    border: 2px solid #ff3832;
    border-radius: 50%;
    box-shadow: inset 0 0 25px #ff3832
}

.target__inner:nth-child(2) {
    width: 70%;
    height: 70%;
    -webkit-transform: translate(30%, -20%);
    -moz-transform: translate(30%, -20%);
    -ms-transform: translate(30%, -20%);
    -o-transform: translate(30%, -20%);
    transform: translate(30%, -20%);
    -webkit-transition-delay: 0.25s;
    -moz-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

.quants-target__inner {
    width: 95%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-100%, -70%);
    -moz-transform: translate(-100%, -70%);
    -ms-transform: translate(-100%, -70%);
    -o-transform: translate(-100%, -70%);
    transform: translate(-100%, -70%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    background-color: rgba(35,37,44,0.8);
    border: 3px solid #4496d1;
    border-radius: 50%;
    box-shadow: inset 0 0 8vmin #4496d1, 0 0 2vmin #4496d1;
}

.quants-target__inner:nth-child(2) {
    width: 70%;
    height: 70%;
    -webkit-transform: translate(30%, -20%);
    -moz-transform: translate(30%, -20%);
    -ms-transform: translate(30%, -20%);
    -o-transform: translate(30%, -20%);
    transform: translate(30%, -20%);
    -webkit-transition-delay: 0.25s;
    -moz-transition-delay: 0.25s;
    transition-delay: 0.25s
}

.quants-target__inner:nth-child(3) {
    width: 45%;
    height: 45%;
    -webkit-transform: translate(-100%, 10%);
    -moz-transform: translate(-100%, 10%);
    -ms-transform: translate(-100%, 10%);
    -o-transform: translate(-100%, 10%);
    transform: translate(-100%, 10%);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s
}

.quants-target__inner:nth-child(4) {
    width: 30%;
    height: 30%;
    -webkit-transform: translate(60%, -80%);
    -moz-transform: translate(60%, -80%);
    -ms-transform: translate(60%, -80%);
    -o-transform: translate(60%, -80%);
    transform: translate(60%, -80%);
    -webkit-transition-delay: 0.75s;
    -moz-transition-delay: 0.75s;
    transition-delay: 0.75s
}

.quants-target__inner:nth-child(5) {
    width: 20%;
    height: 20%;
    -webkit-transform: translate(200%, -200%);
    -moz-transform: translate(200%, -200%);
    -ms-transform: translate(200%, -200%);
    -o-transform: translate(200%, -200%);
    transform: translate(200%, -200%);
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    transition-delay: 1s
}

/*.in-view .quants-target__inner {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}*/

.quants-target__copy {
    padding-left: 35px;
    position: absolute;
    text-transform: uppercase;
    text-align: left;
    opacity: 0;
    font-size: 12px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

/*.in-view .quants-target__copy {
    opacity: 1
}*/

.quants-target__copy:before {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -2px;
    left: 0px;
    content: "";
    background-color: #4496d1;
    border: 5px solid #23252c;
    border-radius: 50%
}

.quants-target__copy:nth-of-type(1) {
    top: 2.2%;
    left: 60%;
    padding-left: 0;
    padding-top: 35px
}

.quants-target__copy:nth-of-type(2) {
    top: 18%;
    left: 12%
}

.quants-target__copy:nth-of-type(3) {
    right: 4%;
    top: 60%;
    text-align: right;
    padding-left: auto;
    padding-bottom: 35px
}

.quants-target__copy:nth-of-type(3):before {
    left: auto;
    right: 0;
    bottom: 0;
    top: auto
}

.quants-target__copy:nth-of-type(4) {
       right: 58.5%;
    top: 82%;
    padding-left: 0;
    padding-right: 35px;
}

.quants-target__copy:nth-of-type(4):before {
    left: auto;
    right: 0
}

.quants-target__copy:nth-of-type(5) {
        left: 64%;
    top: 79.3%;
    padding-top: 26px;
    padding-left: 0px;
}

.quants-target__copy:nth-of-type(6) {
      top: 57%;
    right: 82.5%;
    padding-left: 0;
    padding-right: 35px;
    text-align: right;
}

.quants-target__copy:nth-of-type(6):before {
    left: auto;
    right: 0
}

.quants-target__copy:nth-of-type(7) {
    top: 21%;
    left: 39.2%;
    padding-left: 9px;
    padding-bottom: 35px;
}

.quants-target__copy:nth-of-type(7):before {
    top: auto;
    bottom: 0
}

.quants-target__copy:nth-of-type(8) {
     top: 30%;
    left: 62%;
}

.quants-target__copy:nth-of-type(9) {
       left: 36.3%;
    top: 54%;
    padding-left: 0;
    padding-top: 35px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.quants-target__copy:nth-of-type(9):before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}

.quants-target__copy:nth-of-type(10) {
      top: 45%;
    right: 63%;
    padding-left: 0;
    padding-right: 35px;
    text-align: right;
}

.quants-target__copy:nth-of-type(10):before {
    left: auto;
    right: 0
}

.quants-target__copy:nth-of-type(11) {
    padding-left: 0;
    padding-top: 35px;
    top: 62%;
    left: 42.8%;
}

.quants-target__copy:nth-of-type(12) {
       left: 58.5%;
    top: 48%;
}

.quants-target__copy:nth-of-type(13) {
      left: 42%;
    top: 37%;
    padding-left: 0;
    padding-bottom: 35px;
}

.quants-target__copy:nth-of-type(13):before {
    top: auto;
    bottom: 0
}

.quants-target__copy:nth-of-type(14) {
    top: 39%;
    left: 52%;
    padding-left: 24px;
    padding-top: 2px;
}

.quants-target__copy:nth-of-type(15) {
        left: 51%;
    top: 58%;
}
.quant
{
     position: absolute;
    left: 46%;
    top: 47%;
    text-align: center;

}

.quants-target__copy:nth-of-type(16) {
    left: 65%;
    top: 64.5%
}

.quants-target__copy:nth-of-type(17) {
    top: 30%;
    left: 40%;
    padding-left: 0;
    padding-bottom: 35px
}

.quants-target__copy:nth-of-type(17):before {
    top: auto;
    bottom: 0
}

.quants-target__copy:nth-child(1) {
    -webkit-transition-delay: 1.15s;
    -moz-transition-delay: 1.15s;
    transition-delay: 1.15s
}

.quants-target__copy:nth-child(2) {
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s;
    transition-delay: 1.3s
}

.quants-target__copy:nth-child(3) {
    -webkit-transition-delay: 1.45s;
    -moz-transition-delay: 1.45s;
    transition-delay: 1.45s
}

.quants-target__copy:nth-child(4) {
    -webkit-transition-delay: 1.6s;
    -moz-transition-delay: 1.6s;
    transition-delay: 1.6s
}

.quants-target__copy:nth-child(5) {
    -webkit-transition-delay: 1.75s;
    -moz-transition-delay: 1.75s;
    transition-delay: 1.75s
}

.quants-target__copy:nth-child(6) {
    -webkit-transition-delay: 1.9s;
    -moz-transition-delay: 1.9s;
    transition-delay: 1.9s
}

.quants-target__copy:nth-child(7) {
    -webkit-transition-delay: 2.05s;
    -moz-transition-delay: 2.05s;
    transition-delay: 2.05s
}

.quants-target__copy:nth-child(8) {
    -webkit-transition-delay: 2.2s;
    -moz-transition-delay: 2.2s;
    transition-delay: 2.2s
}

.quants-target__copy:nth-child(9) {
    -webkit-transition-delay: 2.35s;
    -moz-transition-delay: 2.35s;
    transition-delay: 2.35s
}

.quants-target__copy:nth-child(10) {
    -webkit-transition-delay: 2.5s;
    -moz-transition-delay: 2.5s;
    transition-delay: 2.5s
}

.quants-target__copy:nth-child(11) {
    -webkit-transition-delay: 2.65s;
    -moz-transition-delay: 2.65s;
    transition-delay: 2.65s
}

.quants-target__copy:nth-child(12) {
    -webkit-transition-delay: 2.8s;
    -moz-transition-delay: 2.8s;
    transition-delay: 2.8s
}

.quants-target__copy:nth-child(13) {
    -webkit-transition-delay: 2.95s;
    -moz-transition-delay: 2.95s;
    transition-delay: 2.95s
}

.quants-target__copy:nth-child(14) {
    -webkit-transition-delay: 3.1s;
    -moz-transition-delay: 3.1s;
    transition-delay: 3.1s
}

.quants-target__copy:nth-child(15) {
    -webkit-transition-delay: 3.25s;
    -moz-transition-delay: 3.25s;
    transition-delay: 3.25s
}

.quants-target__copy:nth-child(16) {
    -webkit-transition-delay: 3.4s;
    -moz-transition-delay: 3.4s;
    transition-delay: 3.4s
}

.quants-target__copy:nth-child(17) {
    -webkit-transition-delay: 3.55s;
    -moz-transition-delay: 3.55s;
    transition-delay: 3.55s
}

.quants-target__copy:nth-child(18) {
    -webkit-transition-delay: 4.7s;
    -moz-transition-delay: 4.7s;
    transition-delay: 4.7s
}

.quants-target__copy:nth-child(19) {
    -webkit-transition-delay: 3.85s;
    -moz-transition-delay: 3.85s;
    transition-delay: 3.85s
}

.quants-target__copy:nth-child(20) {
    -webkit-transition-delay: 4s;
    -moz-transition-delay: 4s;
    transition-delay: 4s;
}

.quants-target__copy:nth-child(21) {
    -webkit-transition-delay: 4.15s;
    -moz-transition-delay: 4.15s;
    transition-delay: 4.15s;
}

.quants-target__copy:nth-child(22) {
    -webkit-transition-delay: 4.3s;
    -moz-transition-delay: 4.3s;
    transition-delay: 4.3s;
}

@media(max-width: 1024px) {
    .quants-target__copy {
        font-size: 12px
    }
}

@media screen and (max-width: 767px) {
    .quants-target__copy {
        display: none;
        font-size: 10px
    }
    .quants-target__copy:nth-of-type(1),
    .quants-target__copy:nth-of-type(6),
    .quants-target__copy:nth-of-type(16),
    .quants-target__copy:nth-child(20),
    .quants-target__copy:nth-of-type(9),
    .quants-target__copy:nth-of-type(3) {
        display: block !important
    }
}

.wealth {
    position: absolute;
    top: 0px;
    bottom: 0px;
    -webkit-transition: width 3s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: width 3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: width 3s cubic-bezier(0.86, 0, 0.07, 1);
    width: 0;
    overflow: hidden
}

.wealth img {
    max-width: 190vw;
    max-height: 100%;
    position: relative;
    left: 0
}

.in-view .wealth {
    width: 100%
}

.in-view .wealth img {
    -webkit-animation: slide 2.5s ease-in-out;
    -moz-animation: slide 2.5s ease-in-out;
    animation: slide 2.5s ease-in-out;
    -webkit-animation-delay: 2.6s;
    -moz-animation-delay: 2.6s;
    animation-delay: 2.6s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes slide {
    from {
        left: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

@-moz-keyframes slide {
    from {
        left: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

@keyframes slide {
    from {
        left: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

@media screen and (max-width: 567px) {
    .wealth img {
        max-width: 295vw
    }
}

.story {
    padding-top: 1px;
    background-color: #1a1b20;
    overflow: hidden
}


 @media (min-width: 318px) and (max-width: 480px) 
{

.quant {
    position: absolute;
    left: 41%;
    top: 43%;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
}
.quants-scene {
    position: relative;
    min-height: 50vh;
    padding: 15px;
    color: #fff;
}

}
/*.canvasjs-chart-toolbar{
display: none !important;
}*/
/*.canvasjs-chart-canvas{
    width: 100% !important;
    height: 100% !important;
}*/