html {
  overflow-x: hidden; }

body {
 
    font-weight: 300;
  line-height: 1.8;
  font-size: 18px;
    background-color:#272a33;
  color: #ffffffb3 }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #1FAD9F; }
  a:hover {
    text-decoration: none;
    color: #1FAD9F; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.45;
  font-weight: normal;
  color: #000; }


@font-face {
    font-family:'myFirstFont';
    src: url(../fonts/Raleway-Regular.ttf);
 
}
body
{
  font-family: 'myFirstFont'!important;
      letter-spacing: 0.8px;
}

.probootstrap-nav a, .dropdown-btn {
    padding: 5px 45px;
    display: block;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none!important;
    background: none;
    border: none;
}

..dropdown-container a
{
  color: #000!important;
}
.probootstrap-aside .probootstrap-nav ul li button .dropdown-container a
{
  font-size:12px!important;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}


.main-h1
{
  font-size:70px!important;
}







  .res-logo
  {

    width: 25%;
    margin-left: 45px;
    margin-top: -20px;

  }
#QUANTS p
{
  text-align: justify;
      font-size: 17px;
}
#RISK  p
{
    text-align: justify;
      font-size: 17px;
}

#TREASURY  p
{
    text-align: justify;
      font-size: 17px;
}

#ALTERNATIVE p
{
    text-align: justify;
      font-size: 17px;
}
.new1
{
  display: none;
}
ul.menu2 li a
{
    color: #c6fb8e!important;
    font-size: 11px!important;
    padding: 9px!important;
    background: #272727;
 
}
ul.menu2
{

margin-top:15px!important;
margin-bottom:15px!important;
}
ul.menu2 li
{
  margin: 0 0 3px 0 !important;
}
    

   
  .btn1
  {
    margin-top: 40px;
        margin-bottom: 15px;

    padding: 15px;
    letter-spacing: 0.9px;
    color: #ff8300;
    background: #00000082;
    border-radius: 60px;
    text-transform: uppercase;
    border: 1px solid #565656;
    outline: none!important;
    cursor: pointer;
  }

.qa
{
      text-align: right;
    /* font-weight: 600; */
    font-family: unset;
    color:#59d6ff;
    font-size: 16px;
    float: right;
    cursor: pointer;
}
.bg
{
    background: url(../images/home-1.jpg) no-repeat;
    background-size: cover;
    height: auto;
    padding-top: 70px;

  

}
 



.insights .content {
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.mbt
{
      margin-bottom: 30px;
    margin-top: 20px;
}
.card .text {
    position: absolute;
    bottom: 0;
    left: 0px;
    top: 0;
    width: 100%;
     padding-top: 45%;
    font-size: 22px;
    visibility: hidden;
    color: #fff;
    background:#212121;
    height: auto;
        cursor: pointer;
}

.card:hover .text {
visibility:visible;
color:#fff;
}
.bor
{
    border: 1px solid #676767;
}
.pt-10
{
    padding: 10px;
    margin-top: 60px;
    font-size: 15px;
    background: #383838;
}
p
{
  color: #ffff;
      text-align: center;
}
.title-new
{
    color: #ffffff;
    text-align: center;
    font-size: 45px;
   /* border: 1px solid #565656;*/
    width: 50%;
    margin: 0px auto;
}
.card-columns
{
  text-align: center;
}
.card-columns h3
{
      color: #fff;
    text-align: center;
}
.card-columns h4 {
    color: #ff6843;
    font-size: 16px;
    text-align: center;
    padding: 6px;
    border-top: 1px solid #717171;
    border-bottom: 1px solid #737373;
}


.a1
{
        font-size: 25px;
    color: #37c5f3;
    text-align: center

}
.mb
{
      margin-bottom: 20px;
}
.asset {
    background: url(../images/asset.png) no-repeat;
    height: 300px;
}
.asset p
{
    padding-top: 140px;
}
.border-bg
{
background:url(../images/1.png) no-repeat;
    height: 125px;
}
.title-new1 {
      color: #80d22a;
    text-align: left;
    font-size: 29px;
    padding: 15px;
    text-align: center;
}
.port span {
      color: #fd5126;
    font-size: 25px;
  
}
.port {
/*    margin-top: 100px;*/
    margin-bottom: 100px;
}
.port ul
{
    list-style: disc;
    color: #fff;
   
}
.port p{
    text-align: justify;
    font-size: 17px;
}
.port ul li
{
text-align: left;
}
.br

{
  border-right:1px solid #6b6b6b;
}




.p-main
{
  font-size: 25px;
}






.clearfix
{
  clear:both;
}
.con
{
     margin-top: 100px;
    font-size: 22px;
}
.c-left
{
/*  width:30%;*/
  float: left;
}
.c-right
{
    width: 80%;
    float: left;
    padding-top: 10px;
    text-align: center;
}
.con h5
{
       color: #b9b9b9f7;
    font-size: 18px;
}
.mb20
{
    margin-top: 50px;
}
.img3
{
  width:100px!important;
}
.b-r
{
  border-right: 1px solid #ccc;
}
.b-rr
{
border-right: 2px dotted #636363;
}

.img4
{
  width:50px!important;
}
.dec1
{
      color: #ccc;
    font-size: 30px;
}
.addres
{
  text-align: center;
}
.insights
{
margin-top:90px;
}
.insights h1
{
      margin: 0;
    color: #FFF;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    padding: 0 0 13px 0;
}
.content h2
{
    font-size: 33px;
    text-align: center;
    margin-top: 80px;
    color: #fff;
}
 
   

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.tabbable-panel {
    margin-top: 10px;
    /* border: 1px solid #45474e; */
    padding: 10px;
}
.tab-content h2
{
     margin: 0;
    color: #FFF;
    font-weight: 300;
    font-size: 40px;
    line-height: 80px;
    padding: 20px;
    text-align: center;
}
#plans {
        position: relative;
    height: 0;
    z-index: 8;
}
.particles-js-canvas-el {
    height: 630px!important;
}
.menu3 {
    width: 32%;
    margin: 0px auto;
}


/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    /* margin: 0px auto; */
    margin-left: 34%;
    text-align: center;
}
.tabbable-line > .nav-tabs > li {
   /*width: 35%;*/
}
.tabbable-line > .nav-tabs > li > a {
    margin-right: 15px;
    padding: 15px;
    letter-spacing: 0.9px;
    color: #ff8300;
    background: #00000082;
    border-radius: 60px;
    text-transform: uppercase;
    border: 1px solid #565656;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
/*.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}*/
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #ccc;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    /* background: #22242b; */
    position: relative;
    padding: 2px;
    color: #000;
    
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #000;
    font-weight: 500;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color:#000;
}
.tabbable-line > .nav-tabs > li.active > a :focus
{
  color:#000;
}
.tabbable-line > .tab-content {
      margin-top: 20px;
    background-color:#272a3300;
    border: 0;
/*    border-top: 1px solid #494a4c;*/
    padding: 20px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
/*.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}*/
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
    color:#000;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
















.forms
{
      position: absolute;
    right: 15px;
    top: 10px;
    z-index: 9
}

.form-control1 {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 15px;
    color: #010205;
    background-color: #d8d8d8;
    background-image: none;
    border: none;
    outline: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: 1px solid #ccc;
    border-radius: none;
}

.quants-main
{

height:auto;
/*    background:url(../images/bg.png) no-repeat;*/
    background-size: cover;

}
.quants-main img
{
  width:100%;
}


.insights h1 span {
     color: #ff6a00;
    font-size: 60px;
    font-weight: 400;
}





.text-primary {
  color: #1FAD9F !important; }

.logo {
       margin: 0 auto 0 auto;
    width: 188px;
    height: 140px;

    background: url(../images/logo.png) no-repeat;
    background-size: 100%;
    display: block;
    text-indent: -9999em;
}


.bg3
{
      background: url(../images/bg3.jpg) no-repeat;
    background-size: 100%;
    height: auto;
    padding-top: 70px;
    padding-bottom: 60px;
}
.bg4
{
      background: url(../images/bg4.jpg) no-repeat;
    background-size: 100%;
    height: auto;
    padding-top: 70px;
    padding-bottom: 60px;
}
.bg5
{
      background: url(../images/bg5.jpg) no-repeat;
background-size: cover;
    height: auto;
    padding-top: 70px;
    padding-bottom: 60px;
}
.probootstrap-aside {
     width: 250px;
    height: 100%;
    min-height: 635px;
    position: fixed;
    z-index: 99999;
box-shadow: 8px 0px 8px -2px rgba(0, 0, 0, 0.35);
  background:#2f3139;
 float: left;
  line-height: 1.5; }
  @media screen and (max-width: 768px) {
    .probootstrap-aside {
      -webkit-transform: translateX(-250px);
      -ms-transform: translateX(-250px);
      transform: translateX(-250px);
      padding-top: 40px; } }
  .probootstrap-aside.active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }
  .probootstrap-aside .probootstrap-close-menu {
    position: absolute;
    right: 15px;
    color: #fff;
    font-size: 14px;
    top: 20px;
    z-index: 20;
    text-transform: uppercase; }
    .probootstrap-aside .probootstrap-close-menu span {
      position: relative;
      font-size: 16px;
      top: 2px; }
  .probootstrap-aside .probootstrap-site-logo {
    padding: 5px 30px 10px 30px;
    position: relative; }
    .probootstrap-aside .probootstrap-site-logo .probootstrap-logo {
      font-size: 20px;
      text-decoration: none;
      color: #000;
      color: #1FAD9F;
      text-transform: uppercase;
      letter-spacing: .05em; }
 
    .probootstrap-aside .probootstrap-nav ul {
      padding: 0;
      margin: 0; }
      .probootstrap-aside .probootstrap-nav ul li {
        padding: 0;
        margin: 0 0 10px 0;
        display: block;
        list-style: none;
        float: left;
        width: 100%; }
       .probootstrap-aside .probootstrap-nav ul li a {
    padding: 5px 0;
    display: block;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}
}
    .probootstrap-aside .probootstrap-nav ul li a:hover
    {
       color:#ef3123;
    }
   
          .probootstrap-aside .probootstrap-nav ul li a:after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 0;
            left: 0;
            height: 2px;
            background: #1FAD9F;
            -webkit-transition: .3s width ease-out;
            -o-transition: .3s width ease-out;
            transition: .3s width ease-out; }
          .probootstrap-aside .probootstrap-nav ul li a:hover:after {
            width: 30px; }
        .probootstrap-aside .probootstrap-nav ul li.active a:after {
          width: 100%; }
  .probootstrap-aside .probootstrap-overflow {
    height: 500px; }
  .probootstrap-aside .probootstrap-aside-footer {
    font-size: 14px;
    padding-left: 30px;
    position: absolute;
    bottom: 20px; }

.probootstrap-aside-social li {
  display: inline-block; }

.probootstrap-aside-social a {
  display: inline-block;
  color: #666666;
  font-size: 20px; }
  .probootstrap-aside-social a:hover {
    color: #1FAD9F; }

.probootstrap-main {
  width:81%;
  float: right;
/*  padding: 30px;*/
  position: relative; }
  .probootstrap-main:before {
    background: rgba(0, 0, 0, 0.5);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .6s all ease;
    -o-transition: .6s all ease;
    transition: .6s all ease; }
  .probootstrap-main.mobile-open:before {
    visibility: visible;
    opacity: 1; }
  .probootstrap-main .probootstrap-bar {
    position: fixed;
    top: 0;
    padding: 20px 0;
    z-index: 8;
    background: #000;
    width: calc(100% - 250px);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
    @media screen and (max-width: 768px) {
      .probootstrap-main .probootstrap-bar {
        width: 100%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%); } }
    .probootstrap-main .probootstrap-bar .probootstrap-toggle {
      position: absolute;
      left: 15px;
      font-size: 20px;
      color: #fff;
      z-index: 2;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .probootstrap-main .probootstrap-bar .probootstrap-main-site-logo {
 
    width: 330px;
    position: relative; }
      .probootstrap-main .probootstrap-bar .probootstrap-main-site-logo a {
        font-size: 20px;
        text-decoration: none;
        color:#fff;
        text-transform: uppercase;
        letter-spacing: .05em; }
  @media screen and (max-width: 768px) {
    .probootstrap-main {
      width: 100%;
      padding: 30px 15px; } }
  @media screen and (max-width: 1140px) {
    .probootstrap-main .card-columns {
      -webkit-columns: 3;
      -moz-columns: 3;
      columns: 3; } }
  @media screen and (max-width: 960px) {
    .probootstrap-main .card-columns {
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2; } }
  @media screen and (max-width: 768px) {
    .probootstrap-main .card-columns {
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2; } }
  @media screen and (max-width: 576px) {
    .probootstrap-main .card-columns {
      -webkit-columns: 1;
      -moz-columns: 1;
      columns: 1; } }
 .probootstrap-main .card-columns .card {
       text-align: justify;
    background: #00000000;
    border: 1px solid #484747;
    color: #fff;
    font-size: 14px;
    padding: 12px;
    border-radius: 0px !important;
    margin-bottom: 20px;
    /* -webkit-transform: scale(1); */
    -ms-transform: scale(1);
    /* transform: scale(1); */
    /* -webkit-transition: .2s all ease; */
    -o-transition: .2s all ease;
    transition: .2s all ease;
    position: relative;
    opacity: 0;
    visibility: hidden;
}
    .probootstrap-main .card-columns .card.img-loaded {
      opacity: 1;
      visibility: visible; }
    .probootstrap-main .card-columns .card a {
      position: relative;
      display: block; }
     /* .probootstrap-main .card-columns .card a:before {
        z-index: 1;
        content: "";
        background: rgb(45, 45, 45);
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }*/
      .probootstrap-main .card-columns .card a .card-img-top {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important; }
 /*   .probootstrap-main .card-columns .card:hover, .probootstrap-main .card-columns .card:focus {
      -webkit-transform: scale(0.96);
      -ms-transform: scale(0.96);
      transform: scale(0.96); }*/
    /*  .probootstrap-main .card-columns .card:hover a:before, .probootstrap-main .card-columns .card:focus a:before {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        visibility: visible;
        opacity: 1; }*/

.bg-image, .probootstrap-cover {
  background-size: cover;
  background-repeat: no-repeat; }

.probootstrap-cover {
  background-position: center center; }
  .probootstrap-cover .probootstrap-heading {
    font-size: 45px;
    line-height: 1.34;
    color: #fff; }
    @media screen and (max-width: 768px) {
      .probootstrap-cover .probootstrap-heading {
        font-size: 37px;
        line-height: 1.3; } }
  .probootstrap-cover .probootstrap-subheading, .probootstrap-cover p {
    color: rgba(255, 255, 255, 0.5); }
  @media screen and (max-width: 768px) {
    .probootstrap-cover .btn {
      width: 100% !important;
      border: 1px solid red; } }
  .probootstrap-cover a {
    position: relative;
    color: #fff; }
    .probootstrap-cover a:before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: #1FAD9F;
      height: 2px;
      content: " "; }
  .probootstrap-cover.overlay {
    position: relative; }
    .probootstrap-cover.overlay:before {
      content: "";
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }

.btn {
 border-radius: 0;
    padding: 10px;
    font-size: 11px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer; }
  .btn:before {
    display: none; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-primary {
       background: #5ba012;
    border-color: #5ba012;
    color: #fff; }
    .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
      border-color: #178277;
      background: #178277; }
  .btn.btn-outline-white {
    border-color: rgba(255, 255, 255, 0.2);
    background: none; }
    .btn.btn-outline-white:hover, .btn.btn-outline-white:focus, .btn.btn-outline-white:active {
      background: #fff;
      border-color: #fff;
      color: #000; }

.form-control {
     border-bottom: 1px solid #ccc; }
  .form-control:focus, .form-control:active {
    border: 2px solid #000; }

textarea {
  height: inherit !important; }

.probootstrap-vh-100 {
  height: 100vh; }
  @media screen and (max-width: 960px) {
    .probootstrap-vh-100 {
      height: inherit;
      padding-top: 5em;
      padding-bottom: 5em; } }

.probootstrap-vh-75 {
  height: 75vh; }
  @media screen and (max-width: 960px) {
    .probootstrap-vh-75 {
      height: inherit;
      padding-top: 5em;
      padding-bottom: 5em; } }

.bg-primary {
  background: #1FAD9F !important; }

.probootstrap-section,
.probootstrap-footer {
    margin-top: 20px;}
  .probootstrap-section .probootstrap-heading,
  .probootstrap-footer .probootstrap-heading {
    font-size: 40px;
    line-height: 1.5; }
    @media screen and (max-width: 768px) {
      .probootstrap-section .probootstrap-heading,
      .probootstrap-footer .probootstrap-heading {
        font-size: 30px; } }

.probootstrap-bg-dark {
  background: #263135; }

.probootstrap-footer {
  font-size: 16px; }
  .probootstrap-footer .probootstrap-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; }
  .probootstrap-footer .probootstrap-footer-widget h2 {
    font-weight: normal; }
  .probootstrap-footer p {
    color: rgba(255, 255, 255, 0.3); }
  .probootstrap-footer.probootstrap-bg-dark {
    background: #222b2f; }
  .probootstrap-footer a {
    color: rgba(255, 255, 255, 0.3); }
    .probootstrap-footer a:hover {
      color: #1FAD9F; }
  .probootstrap-footer .probootstrap-heading {
    font-size: 24px; }
  .probootstrap-footer .probootstrap-heading-2 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6); }

.probootstrap-footer-social li {
  list-style: none;
  margin: 0 10px 10px 0;
  display: inline-block; }
  .probootstrap-footer-social li a {
    height: 60px;
    width: 60px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative; }
    .probootstrap-footer-social li a span {
      position: absolute;
      font-size: 26px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.footer-small-nav > li {
  display: inline-block; }
  .footer-small-nav > li a {
    margin: 0 10px 10px 0; }
    .footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
      color: #1FAD9F; }

.media .probootstrap-icon {
  width: 100px; }
  .media .probootstrap-icon span {
    color: #1FAD9F; }

.probootstrap-media {
    background: #000000;}
  .probootstrap-media.text-center .probootstrap-icon {
    margin: 0 auto; }

.probootstrap-overflow-hidden {
  overflow: hidden; }

.padding-top-bottom {
  padding-top: 120px;
  padding-bottom: 120px; }

.probootstrap-owl {
  position: relative;
  z-index: 1; }
  .probootstrap-owl .owl-nav {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: 10;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .probootstrap-owl .owl-nav .owl-prev,
    .probootstrap-owl .owl-nav .owl-next {
      position: absolute;
      font-size: 30px;
      background: #1FAD9F;
      color: #fff;
      padding: 10px;
      line-height: 0; }
    .probootstrap-owl .owl-nav .owl-prev {
      left: 0; }
    .probootstrap-owl .owl-nav .owl-next {
      right: 0; }
  .probootstrap-owl .owl-dots {
    position: relative;
    text-align: center;
    margin-top: 30px; }
    .probootstrap-owl .owl-dots .owl-dot {
      display: inline-block;
      zoom: 1; }
      .probootstrap-owl .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        background: #ccc;
        border-radius: 50%;
        display: inline-block;
        margin: 5px 7px; }
      .probootstrap-owl .owl-dots .owl-dot.active span {
        background: #1FAD9F; }
  .probootstrap-owl:hover .owl-nav {
    visibility: visible;
    opacity: 1; }

.probootstrap-animate {
  opacity: 0;
  visibility: hidden; }

#probootstrap-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#probootstrap-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#probootstrap-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#probootstrap-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#probootstrap-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }


 @media (min-width: 318px) and (max-width: 480px) 
{
  .bg5 {
    background: url(../images/bg5.jpg) no-repeat;
    background-size: cover;
    height: auto;
    padding-top: 70px;
    padding-bottom: 60px;
}
  .probootstrap-aside {
    width: 250px;
    height: 100%;
    min-height: 470px;
    position: fixed;
    z-index: 99999;
    box-shadow: 8px 0px 8px -2px rgba(0, 0, 0, 0.35);
    background: #2f3139;
    float: left;
    line-height: 0;
}

.probootstrap-aside .probootstrap-site-logo {
    padding: 0px 30px 0px 0px;
    position: relative;
    top: -30px;
}
.logo {
    margin: 0 auto 0 auto;
    width: 90px;
    height: 65px;
    background: url(../images/logo.png) no-repeat;
    background-size: 100%;
    display: block;
    text-indent: -9999em;
}

.insights h1 span {
    color: #ff6a00;
    font-size: 25px;
    font-weight: 400;
}
.insights h1 {
    margin: 0;
    color: #FFF;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    padding: 0 0px 13px 0;
}
.insights {
    margin-top: 50px;
}
.insights .content {
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.probootstrap-aside .probootstrap-nav ul li a {
    padding: 5px 0;
    display: block;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
       line-height: 15px;
}
.probootstrap-aside .probootstrap-aside-footer {
     font-size: 8px!important;
    padding-left: 0px;
    position: absolute;
    bottom: 1px;
    line-height: 17px;
}
.port span {
    color: #fd5126;
    font-size: 18px;
    padding-left: 10px;
}
.port p {
    text-align: left;
    font-size: 15px;
    padding: 6px;
}
.port ul li {
    text-align: left;
    font-size: 14px;
}


.title-new {
    color: #ffffff;
    text-align: center;
    font-size: 28px;
  
    width: 100%;
    margin: 0px auto;
}
.b-rr {
    border-right: none;
}
.title-new1 {
    color: #80d22a;
    text-align: left;
    font-size: 29px;
    padding: 15px;
    text-align: center;
    padding-top: 80px;
}

.mbt {
display: none;
}
.card .text {
    position: absolute;
    bottom: 0;
    left: 0px;
    top: 0;
    width: 100%;
    padding-top: 100px;
    text-align: center;
    font-size: 22px;
    visibility: hidden;
    color: #fff;
    background: #212121;
    height: auto;
    cursor: pointer;
}
.tabbable-line > .nav-tabs {
    border: none;
    /* margin: 0px auto; */
    margin-left: -8%;
    text-align: center;
}
.tabbable-line > .nav-tabs > li {
       width: 100%!important;
    margin-bottom: 10px;
    float: left;
}
.menu3 {
    width: 100%;
    margin: 0px auto;
}
.tabbable-line > .nav-tabs > li > a {
    margin-right: 0px;
    font-size: 11px;
    padding: 8px;
    letter-spacing: 0.9px;
    color: #ff8300;
    background: #00000082;
    border-radius: 60px;
    text-transform: uppercase;
    border: 1px solid #565656;
}
.particles-js-canvas-el {
    height: 370px!important;
}
.forms {
    position: fixed;
    right: -4px;
    top: 6px;
    z-index: 9;
}
p {
    color: #ffff;
    text-align: justify;
    font-size: 17px;
}
.what .quants-main img {
        width: 50%;
    margin-left: 25%!important;
}
.probootstrap-aside .probootstrap-aside-footer p
{
       text-align: center!important;
    font-size: 13px!important;
    padding-left: 50px;
}
.probootstrap-nav a, .dropdown-btn {
    padding: 5px 62px;
    display: block;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none!important;
    background: none;
    border: none;
}
.mb20
{
    margin-top: 20px;
}
.p-main
{
  font-size: 16px;
}
.main-h1
{
    font-size: 35px!important;
    margin-top: 50px!important;
}
.con {
    margin-top: 0;
    font-size: 19px;
}

.dec1 {
 color: #7ece2b;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    margin-top: 21px;
}
.con h5
{
       color: #b9b9b9f7;
    font-size: 12px;
}
.c-right {
    width: 65%;
    float: left;
    padding-top: 10px;
    text-align: center;
}

}

.login-btn{
  background: #ffffff00;
  color: #fff;
  border: 1px solid #cccccc45;         
}

.approval{
  text-align: center;
  padding: 5px;
}

.approval span{
  float: right;
  padding-right: 20px;    
  cursor: pointer;
}